<html>
  <body>
    <p>Transfer has completed for {{filename}}</p>
    {% if upload_result_gatk %}
    <b>Franklin upload GATK</b>
    <ul>
      {% for upload_result in upload_result_gatk %}
      <li>{{upload_result}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if upload_result_exomedepth %}
    <b>Franklin upload ExomeDepth</b>
    <ul>
      {% for upload_result in upload_result_exomedepth %}
      <li>{{upload_result}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
